@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  margin: 0;
  padding: 0;
  line-height: 1.4em;
  font-style: normal;
  font-weight: normal;
}

html,
body,
#root {
  height: 100% !important;
}

body {
  margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  display: flex;
  flex-direction: column;
}

// .top{
//   position: absolute;
//   top: 0;
//   width: 100%;
// }

h3{
 text-align: center;
}

#novel {
  color: #CC3F0C;

}

#nook {
  color: #33673B;
}

main{
  flex: 1;
  min-width: 100%;
}

#mainBanner{
  max-height: 360px;
   
}
.my-custom-line {
  border: none;
  height: 2px;
  background-color: #333; /* Change this to the color you prefer */
  width: 100%;
}


// styling for Book.js
#bookCover{
 
}


@media (max-width: 600px) {

  
}


